<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.lib.imggetter">

    <application>
        <provider
            android:name=".impl.MyFileProvider"
            android:authorities="${applicationId}.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_image_getter_file_path" />
        </provider>

    </application>

</manifest>
